<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <!-- Nome -->
  <div class="form-group">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome"
        formControlName="nome"
      />
    </div>
  </div>

  <!-- Email -->
  <div class="form-group">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email address</label>
    </div>

    <div class="col-sm-12">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="E-mail"
        formControlName="email"
      />
    </div>
  </div>

  <!-- Botão submit -->
  <button type="submit" class="btn btn-primary">Submit</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
